<section class="row contact_content">
        <div class="container">
           
            <div class="row form_row">
                <div class="col-sm-7 form_side">
                    <h3 class="part_title">Write to us</h3>
                    <div class="contactForm row m0">
                        <form ng-submit="message()" class="row m0" id="contactForm" novalidate="novalidate">
                            <input type="text" class="form-control" placeholder="Name" ng-model="data.name" id="name">                    
                            <input type="email" class="form-control" placeholder="Email" ng-model="data.email" id="email">
                            <input type="subject" class="form-control" placeholder="Subject" ng-model="data.subject" id="email">
                            <textarea class="form-control" placeholder="Message" ng-model="data.message" id="message"></textarea>
                            <input type="submit" value="send message" class="btn btn-primary">                        
                        </form>
                        <div id="success">Your message was successfully sent!</div>
                        <div id="error">Sorry, something went wrong!! Please try again.</div>
                    </div>
                </div>
                <div class="col-sm-5 detail_address" click>
                    <h3 class="part_title">Still have questions?</h3>
                    <h4>Connect with us:</h4>
                    <div class="media">
                        <div class="media-left"><i class="fa fa-home"></i></div>
                        <div class="media-body media-middle">
                           <a href="https://goo.gl/maps/fQi1kUHaDhM2"> 2nd Floor, Above Airtel Outlet, No. 6, 80 ft. Road, Kormangala 4th block, Bangalore 560034.</a>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left"><i class="fa fa-phone"></i></div>
                        <div class="media-body media-middle">+91-973-195-4050 <br>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left"><i class="fa fa-comments-o"></i></div>
                        <div class="media-body media-middle"><a href="mailto:info@qwixpert.com">info@qwixpert.com</a>
                            <!-- <ul class="nav nav-pills">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>
<!--             <div class="row we_support text-center">
    <div class="col-md-12">
        <p><strong>Still have questions? Give us a call at <a href="tel:+919731954050">+91-973-195-4050</a>.</strong></p>
    </div>
</div> -->
           <!--  <div class="row we_support">
               <div class="col-sm-12">
                   <h2 class="part_number">03/</h2>
                   <h3 class="part_title">we support</h3>
                   <div class="row">
                       <div class="col-sm-4">
                           <div class="media">
                               <div class="media-left">
                                   <i class="fa fa-comments-o"></i>
                               </div>
                               <div class="media-body">
                                   <h4>Chat Support</h4>
                                   <p>Lorem ipsum dolor sit amet, dipiscing elit. Nulam eget</p>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-4">
                           <div class="media">
                               <div class="media-left">
                                   <i class="fa fa-ticket"></i>
                               </div>
                               <div class="media-body">
                                   <h4>Support Ticket</h4>
                                   <p>Lorem ipsum dolor sit amet, dipiscing elit. Nulam eget</p>
                               </div>
                           </div>
                       </div>
                       <div class="col-sm-4">
                           <div class="media">
                               <div class="media-left">
                                   <i class="fa fa-envelope-o"></i>
                               </div>
                               <div class="media-body">
                                   <h4>Email Support</h4>
                                   <p>Lorem ipsum dolor sit amet, dipiscing elit. Nulam eget</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>                
           </div> -->
        </div>
    </section>