<div class="expert-login section-top">
    <section class="container">
        <div class="row banner-row text-center">
            <h1 class="text-center">Sign up in seconds</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 sign-up-container">
                <ul class="nav nav-tabs business-or-mba row" role="tablist">
                    <li class="col-xs-6"  ng-class="{'active':tab=='business'}" ><a ng-click="changeTab('business')" role="tab" data-toggle="tab" id="business_register_tab" class="tab">Business</a></li>
                    <li class="col-xs-6" ng-class="{'active':tab=='consultant'}"><a ng-click="changeTab('consultant')" role="tab" data-toggle="tab" id="consultant_register_tab" class="tab">Consultant</a></li>
                </ul>
                <div class="tab-content">
                    <br>
                    <div class="tab-pane"  ng-class="{'active':tab=='business'}"id="business">
                        <div class="row">
                            <div class="col-xs-12 biz-sign-header">
                                <h1 class="text-center">Create a business account</h1>
                            </div>
                            <div class="col-xs-12 signup-frame biz-email-pass">
                                <form class=" business-register" role="form" ng-submit="registerBusiness()">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <input type="text" class="form-control" ng-model="business.name"  placeholder="Name*">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <input type="text" class="form-control" ng-model="business.designation" placeholder="Designation*">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <input type="text" class="form-control" ng-model="business.company_name"  placeholder="Company Name*">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <input type="email" class="form-control" ng-model="business.email"  placeholder="Email ID*">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <input type="text" class="form-control"  ng-model="business.phone_number" placeholder="Phone Number*">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <textarea  ng-model="business.message"  id="message" class="form-control" cols="30" rows="10" placeholder="Tell us about your need (Max. 250 characters)"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <hr class="dotted">
                                            <button type="submit" class="btn btn-primary">Sign up</button>
                                        </div>
                                    </div>
                                    <br>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane"  ng-class="{'active':tab=='consultant'}">
                        <div class="panel panel-default nerd-panel ">
                            <div class="biz-sign-header text-center hidden-xs">
                                <h1>Sign up as a consultant</h1></div>
                            <div class="panel-body nerd-panel-body">
                                <form role="form" method="POST" ng-submit="registerConsultant()">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <input type="text" class="form-control" ng-model="consultant.name" placeholder="Name*">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <input type="email" class="form-control" ng-model="consultant.email" placeholder="Email ID*">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <input type="text" class="form-control" id="phone" ng-model="consultant.phone_number" placeholder="Phone Number*">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <input type="text" class="form-control" ng-model="consultant.linkedIn_url" placeholder="Linked In Profile URL*">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label for="phone">Upload Resume</label>
                                            <input type="file" id="phone" ng-model="consultant.resume">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 text-center">
                                            <hr class="dotted">
                                            <button type="submit" class="btn btn-primary">Sign up</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
