<!--===============================
=            Know more            =
================================-->
<!--====  End of Know more  ====-->
<section class="row find_domain find_domain3">
    <div class="row m0 find_domain_cover">
        <div class="container">
            <div class="row">
                <h2>Engage world class experts<br>and consultants </h2>
                <h1 style="color:#ffffff">Your Need. Your Choice. Your Terms.</h2>
                <!-- <p>High-growth businesses &amp; moderate web traffic, you can buy our
                <br class="hidden-xs">vps hosting with on...</p> -->
            </div>
        </div>
    </div>
</section>
<!--====================================
=            Businesss type            =
=====================================-->
<ng-include src="'templates/partials/_business-types.html'"></ng-include>
<!--====  End of Businesss type  ====-->

<!--==================================
=            Why qwixpert            =
===================================-->
<section class="row pricing pricing2">
    <div class="container">
        <div class="row sectionTitle">
            <h2>Our Experts</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Flexibility</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>Engage smart and amazing brains when you want, for the time you want, on your terms.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan best_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Connectivity</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>Choose your expert or consultant from a curated list based on their prior work experience and client feedback.</p><br>
                            <a href="#/our-experts" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Frugality</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row" click>
                        <div class="col-md-12">
                            <p>Our experts and consultants can be engaged at the fraction of cost of traditional consulting firms.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====  End of Why qwixpert  ====-->
<!--=================================
=            Our Experts            =
==================================-->
<ng-include src="'templates/partials/_our-experts.html'"></ng-include>
<!--====  End of Our Experts  ====-->
<!--=================================
=          Trending Topics          =
==================================-->
<section class="row trending_topics"> 
   
    <div class="container text-center">
       <div class="row sectionTitle">
        <h2>Trending Topics</h2>
        <h4 class="title" style="font-weight:normal">Find out where companies are engaging our experts and consultants</h4>
    </div>
    <div class="col-md-2 col-md-offset-1">
      
        <img src="images/icons/feature.png" alt="" class="icon"> 
        <h4 class="panel-title">Goods &amp; Services Tax</h4> 
    </div>
    <div class="col-md-2">
     
        <img src="images/icons/feature.png" alt="" class="icon"> 
        <h4 class="panel-title">Internet of Things</h4>
        
    </div>
    <div class="col-md-2">
     
        <img src="images/icons/feature.png" alt="" class="icon"> 
        <h4 class="panel-title">E-Commerce</h4>
        
    </div>
    <div class="col-md-2">
     
        <img src="images/icons/feature.png" alt="" class="icon"> 
        <h4 class="panel-title">Digital Marketing</h4>
        
    </div>
    <div class="col-md-2">
     
        <img src="images/icons/feature.png" alt="" class="icon"> 
        <h4 class="panel-title">Big Data</h4>
        
    </div>
</div>

</section>
<!--====  End of Trending Topics  ====-->