<ng-include src="'templates/partials/_breadcrumb.html'"></ng-include>
<div class="content_row  why_choose row m0">
    <div class="container">
        <div class="row sectionTitle">
            <h2>Smartest experts across the globe,
              <br><strong>at your fingertips.</strong></h2>
        </div>
    </div>
</div>
<section class="row faqs_content steps">
        <div class="container">
            <div class="row">
               <div class="how-it-woks-step">
                    <div class="how-it-works-content">
                       <div class="col-md-2 number">
                           <div class="">
                               <span>01</span>
                           </div>
                       </div>
                       <div class="col-md-10 content">
                           <div class="">
                               <h4>Explain your needs</h4>
                               <p>Describe your needs to us. We will help you structure the problem. It ensures that the right experts are shortlisted.</p>
                           </div>
                       </div>
                       <div class="clearfix"></div>
                    </div>
               </div>
               <div class="how-it-woks-step">
                    <div class="how-it-works-content odd">
                       <div class="col-md-2 number">
                           <div class="">
                               <span>02</span>
                           </div>
                       </div>
                       <div class="col-md-10 content">
                           <div class="">
                               <h4>Customized list of top experts.</h4>
                               <p>Based on the problem structure, Qwixpert will search our network of experts. We provide you with the experts who match your needs.</p>
                           </div>
                       </div>
                       <div class="clearfix"></div>
                    </div>
               </div>
               <div class="how-it-woks-step">
                    <div class="how-it-works-content">
                       <div class="col-md-2">
                           <div class="number">
                               <span>03</span>
                           </div>
                       </div>
                       <div class="col-md-10">
                           <div class="content">
                               <h4>Choose your match.</h4>
                               <p>Evaluate the list of profiles. Select an expert based on interviews / interactions, feedback from previous engagements, ratings, reviews, compliance and pricing.</p>
                           </div>
                       </div>
                       <div class="clearfix"></div>
                    </div>
               </div>
               <div class="how-it-woks-step">
                    <div class="how-it-works-content odd">
                       <div class="col-md-2 number">
                           <div class="">
                               <span>04</span>
                           </div>
                       </div>
                       <div class="col-md-10 content">
                           <div class="">
                               <h4>Engage your expert</h4>
                               <p class="b2">
                            Agree on milestones and deliverables. Start the engagement instantly. You can choose to engage your expert on<br>
                            a. <strong>Advisory assignment</strong> - Seeking a point of view or opinion or a solution through a telephonic call or Video / voice chat through Skype.<br>
                            b. <strong>Consulting assignment</strong> - Seeking expert solution along with analysis and simulation of business case and data.<br>
                            c. <strong>Complex assignment</strong> - Seeking expert solution, analysis and implementation of the solution for a division or multiple divisions. If you require experts for such an assignment, Contact Us. We shall help you assemble the team and manage the hassle of project management.
                        </p>
                           </div>
                       </div>
                       <div class="clearfix"></div>
                    </div>
               </div>
               <div class="how-it-woks-step">
                    <div class="how-it-works-content">
                       <div class="col-md-2 number">
                           <div class="">
                               <span>05</span>
                           </div>
                       </div>
                       <div class="col-md-10 content">
                           <div class="">
                               <h4>Pay on delivery</h4>
                               <p>The fee for the engagement has to be paid to us when you select the expert. The money will be held safely in an escrow account and would be paid to the expert only on completion of milestones.</p>
                           </div>
                       </div>
                       <div class="clearfix"></div>
                    </div>
               </div>
            </div>
        </div>
    </section>