<section class="row this_top_features ng-scope">
    <div class="row m0 this_top_feature">
        <div class="container">
            <div class="media">
                <div class="media-left"><img src="images/qsr.jpg" alt=""></div>
                <div class="media-body media-middle">
                    <h2>Quick. Smart. Reliable.</h2>
                    <p>Our experts are quick when it comes to solving your business needs. They have strong academic credentials, diverse problem solving experience at large enterprises and top achievements in their professions. With Qwixpert, you can quickly engage a quality expert with right experience at your convenience and your price.</p>
                    <br>
                    <a href="#/get-started" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 this_top_feature">
        <div class="container">
            <div class="media">
                <div class="media-body media-middle">
                    <h2>Who are our experts?</h2>
                    <p>Our experts come from varied backgrounds. Some are retired professionals. They can also be industry leaders or founders of niche companies. Others could be stay-at-home parents or ex-consultants with industry experience. They all have what it takes to solve business needs and have client satisfaction as the primary goal of their professional life.</p>
                    <br>
                    <a href="#/get-started" class="btn btn-primary">Get Started</a>
                </div>
                <div class="media-right"><img src="images/whoexperts.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>
<section class="row facts facts2">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 fact"><strong class="counter">100+</strong>experts</div>
            <div class="col-sm-3 fact"><strong class="counter">8</strong>minimum work experience</div>
            <div class="col-sm-3 fact"><strong class="counter">18</strong>average work experience</div>
            <div class="col-sm-3 fact"><strong class="counter">100%</strong>vetted and verified profiles</div>
        </div>
    </div>
</section>
<section class="content_row bg-color content_row2 whats_under_hood row text-center">
    <div class="container">
        <div class="row sectionTitle">
            <!-- <h5>technology</h5> -->
            <h2>Operating Experience in</h2>
        </div>
        <div class="row">
            <div class="col-sm-3 under_hood">
                <div class="row icon m0"><img src="images/icons/7.png" alt=""></div>
                <h5>Automotive</h5>
            </div>
            <!--Under Hood-->
            <div class="col-sm-3 under_hood">
                <div class="row icon m0"><img src="images/icons/8.png" alt=""></div>
                <h5>Financial services</h5>
            </div>
            <!--Under Hood-->
            <div class="col-sm-3 under_hood">
                <div class="row icon m0"><img src="images/icons/9.png" alt=""></div>
                <h5>Industrials</h5>
            </div>
            <!--Under Hood-->
            <div class="col-sm-3 under_hood">
                <div class="row icon m0"><img src="images/icons/10.png" alt=""></div>
                <h5>Transportation & Travel</h5>
            </div>
            <!--Under Hood-->
            <div class="col-sm-3 under_hood">
                <div class="row icon m0"><img src="images/icons/11.png" alt=""></div>
                <h5>Energy</h5>
            </div>
            <!--Under Hood-->
            <div class="col-sm-3 under_hood">
                <div class="row icon m0"><img src="images/icons/12.png" alt=""></div>
                <h5>Healthcare & Pharmaceuticals</h5>
            </div>
            <!--Under Hood-->
            <div class="col-sm-3 under_hood">
                <div class="row icon m0"><img src="images/icons/9.png" alt=""></div>
                <h5>Retail & Consumer Products</h5>
            </div>
            <!--Under Hood-->
            <div class="col-sm-3 under_hood">
                <div class="row icon m0"><img src="images/icons/8.png" alt=""></div>
                <h5>Tech, Media & Telecommunications</h5>
            </div>
            <!--Under Hood-->
        </div>
    </div>
</section>
