<div class="container">
	<div class="row terms">
		<h2 class="panel-title">Privacy Policy:</h2>

		<p>This privacy policy (“Privacy Policy”) sets forth our commitment to respecting your online privacy and recognise your need for appropriate protection and management of any Personal Information (as defined below) you share with us. The Privacy Policy applies to our Services offered by EXN Solutions Pvt Ltd available under the domain www.qwixpert.com (herein after referred to as the “Website”). By visiting the Website you agree to be bound by the terms and conditions of this Privacy Policy”).</p> 

		<p>PLEASE READ ALL OF THE TERMS OF THIS AGREEMENT CAREFULLY BEFORE USING THE SITE. YOU UNDERSTAND THAT BY CONTINUING TO USE THE SITE, YOU ARE AGREEING TO BE BOUND BY THESE TERMS, INCLUDING ANY CHANGES TO THE TERMS THAT MAY HAVE BEEN MADE SINCE YOUR PRIOR USE OF THE SITE. IF YOU DO NOT ACCEPT THE TERMS (IN WHOLE OR IN PART) YOU MAY NOT ACCESS OR USE THE SITE.</p>

		<p>The words “you” or “your” or “User” as used herein, refer to all individuals and/or entities accessing or using the Website for any reason. The words “we” or “us” or “our” as used herein, refer to the Website and/or or any permitted assignees.</p> 

		<p>This Privacy Policy describes the information, as part of the normal operation of our Services that we collect from you and what may happen to that information. Although this policy may seem long, we have prepared a detailed policy because we believe you should know as much as possible about the Website, Services and our practices so that you can make informed decisions.</p> 

		<p>By accepting the Privacy Policy and the Terms of Use, which prescribes terms and conditions for use of the Website or availing Services, you expressly consent to our use and disclosure of your personal information in accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the terms of the Terms of Use and the terms not defined here, have their meanings ascribed to in the Terms of Use. This Privacy Policy and Terms of Use are effective upon your visit of Website. We encourage you to read the terms of the Privacy Policy and the Terms of Use in their entirety before you use the Website.</p> 

		<p>For the purposes of this Privacy Policy, the term “Personal Information” shall mean any information that may be used to identify you including, but not limited to: </p>
				<ol>
					<li>first and last name, a home or other physical address and an email address or other contact information (including mobile / landline numbers, PAN Card / Aadhar Card / Passport number), whether at work or at home; </li>
					<li>sensitive information such as your experience and income level;</li>
					<li>any report such as a result of back ground check, profiling etc.; </li>
					<li>should you post a resume or apply/send enquiry for an opportunity, the information contained therein (the amount of information you choose to keep confidential is entirely up to your discretion; you may enter as much or as little information as you choose, except for the information which is mandatorily required); </li>
					<li>such information as projects / assignments, opportunities you have applied for, projects / assignments &amp; opportunities you have viewed and similar information in your use of the Website; and </li>
					<li> reviews / feedback on your profile, if any.</li>
				</ol>

		<h4 class="panel-title">Information we collect </h4>
		<p>In general, you can browse the Website without telling us who you are or revealing any personal information about yourself. To fully use our Website, you will need to register using our online registration form, where you may be required to provide us with your contact and identity information and other Personal Information as indicated on the forms throughout the Website and complete the registration process. Once you give us your Personal Information, and initiate the registration process, you are not anonymous to us. Where possible, we indicate which fields are mandatorily required and which fields are optional. The registration process is not deemed complete till you receive a confirmation email from Qwixpert and follow the instructions in the email to complete the registration process.</p>

		<h4 class="panel-title">Use of your Personal Information</h4> 
		<p>You agree that we may use your Personal Information to facilitate the services you request. You agree that we may use your Personal Information and other information we obtain from your current and past activities on the Website to:</p> 
		<p>resolve disputes; troubleshoot problems; measure your interest in the services provided by us, inform you about online and offline offers, products, services, and updates; customise your experience; detect and protect us against error, fraud and other criminal activity; enforce Terms of Use; and as otherwise described to you at the time of collection. At times, we may look across multiple Users to identify problems or resolve disputes, and in particular we may examine your Personal Information to identify users using multiple User IDs or aliases. We may compare and review your Personal Information for errors, omissions and for accuracy. You agree that we may use Personal Information about you to improve our marketing and promotional efforts, to analyse site usage, improve the Website’s content and service offerings, and customise the Website’s content, layout, and services. These uses improve the Website and better tailor it to meet your needs, so as to provide you with an efficient, safe and customised experience while using the Website. You agree that we may use your Personal Information to contact you and deliver information to you that, in some cases, are targeted to your interests, such as targeted banner advertisements, administrative notices, services offerings, and communications relevant to your use of the Website. </p>
		<p>By accepting the Terms of Use and Privacy Policy, you expressly agree to receive this information. If you do not wish to receive these communications, we encourage you to opt out of the receipt of certain communications in your profile. You may make changes to your profile at any time. </p>


		<h4 class="panel-title">Disclosure of your Personal Information</h4>

		<p>You agree and confirm that we do not rent, sell, or share Personal Information about you with other people or nonaffiliated companies except to provide products or Services under Terms of Use or this Privacy Policy, or under the following circumstances:</p> 
		<ol>
		 	<li>to provide the Personal Information to trusted partners who work on behalf of or with us under confidentiality agreements;</li>
		 	<li>to respond to summons, court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims; </li>
		 	<li> to share Personal Information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Use, or as otherwise required by law; </li>
		 	<li>to transfer Personal Information about you if we are acquired by or merged with another company. In this event, we will notify you before information about you is transferred and becomes subject to a different privacy policy;</li>
		 	<li> from time to time, to reveal general statistical information about our Website and visitors, such as number of visitors, number and type of services purchased, etc.; </li>
		 	<li>to transfer Personal Information about you to trusted partners, may or may not for gain, to promote certain products/services for commercial purposes, with / without any prior notice to you. </li>
		 </ol> 
		
		<h4 class="panel-title">Access or change your Personal Information </h4>
		<p>You may review, correct, update or change your account information at any time. To protect your privacy and security, we will verify your identity before granting access or making changes to your Personal Information. If you have registered your profile on the Website, your ID and Password are required in order to access your Account.</p> 

		<h4 class="panel-title">Other websites</h4> 
		<p>Our Website may contain links to other websites. Please note that when you click on one of these links, you are entering another website over which the Website has no control and will bear no responsibility. Often these websites require you to enter your Personal Information. We encourage you to read the privacy statements on all such websites as their policies may differ from ours. You agree that we shall not be liable for any breach of your privacy of Personal Information or loss incurred by your use of these websites.</p> 

		<h4 class="panel-title">Changes to this Privacy Policy</h4> 
		<p>We reserve the right to update, change or modify this Privacy Policy at any time. The amendment to this Privacy Policy shall come to effect from the time of such update, change or modification.</p> 

		<h4 class="panel-title">Disclaimer</h4> 
		<p>We shall not be liable for any loss or damage sustained by reason of any disclosure (inadvertent or otherwise) of any Personal Information concerning the User’s account and / or information relating to or regarding online transactions using credit cards / debit cards and / or their verification process and particulars nor for any error, omission or inaccuracy with respect to any information so disclosed and used.</p> 

		<h4 class="panel-title">Governing law and Dispute Resolution</h4> 
		<p>This Privacy Policy and Terms of Use shall be governed by and constructed in accordance with the laws of India only without reference to conflict of laws principles and disputes arising in relation hereto shall be subject to the exclusive jurisdiction of the courts of Karnataka, India.</p> 

		<h4 class="panel-title">Assignability</h4> 
		<p>We may assign any of our responsibilities/obligations to any other person without notice to the User, at its sole discretion. However, you shall not assign, sub-licence or otherwise transfer any of your rights or obligations under this Privacy Policy to any other party, unless a written consent is taken from us.</p> 

		<h4 class="panel-title">Contacting the Website </h4>
		<p>If you have any questions about this Privacy Policy, the privacy practices of this Website, or if you want to exercise any of the rights that you are given under this Privacy Policy, you can contact us at compliance@qwixpert.com.</p> 
	</div>
</div>