<div class="container">
	<div class="row terms">
		<h2 class="panel-title">Terms:</h2>
		<p>The use of the Qwixpert website is subject to the following Terms &amp; Conditions. By using the Qwixpert website or any part of the Qwixpert website you will be deemed to agree to these Terms and Privacy Policy without qualification.</p>
		<p>The words “you” or “your” or “User” as used herein, refer to all individuals and/or entities accessing or using the Website for any reason. The words “we” or “us” or “our” as used herein, refer to the Website and/or or any permitted assignees.
		</p>
		<p>Qwixpert website reserves the right to update these Terms at any time without notice to you. Further, you agree to review the Terms periodically so that you are aware of any such updates and we shall not be liable for any loss suffered by you on your failure to review such updated Terms.</p>
		<p>PLEASE READ ALL OF THE TERMS OF THIS AGREEMENT CAREFULLY BEFORE USING THE SITE. YOU UNDERSTAND THAT BY CONTINUING TO USE THE SITE, YOU ARE AGREEING TO BE BOUND BY THESE TERMS, INCLUDING ANY CHANGES TO THE TERMS THAT MAY HAVE BEEN MADE SINCE YOUR PRIOR USE OF THE SITE. IF YOU DO NOT ACCEPT THE TERMS (IN WHOLE OR IN PART) YOU MAY NOT ACCESS OR USE THE SITE.</p>
		<h4 class="panel-title">Eligibility</h4>
		<p>For an individual, you must be of age 18 or above, to register as user and use the website and its services, For a company, partnership firm, trust (any other except an individual), you must have the capacity to form a binding contract in your jurisdiction. You state that you have the authority to enter into a contract with us and abide by all of the terms and conditions set forth in the Terms. You also agree that you will use our website in a manner consistent with all applicable laws, rules &amp; regulations.
		</p>
		<h4 class="panel-title">Services</h4>
		<p>Qwixpert will provide services to the users, as specified in the website. The services and the terms of usage of the services are specified here. This information is based on our current plans and strategy, which are subject to change without notice.Without limiting the foregoing, all statements / information regarding our future direction or intent are subject to change or withdrawal without notice. Any such changes may be notified to the User by publishing the same on the website.</p>
		<h4 class="panel-title">Use Restrictions</h4>
		<p>Making copies of this website or any portion of this website for any purpose is violation of copyright laws. Contents of this website may not be duplicated in any way without our express consent, except in form of excerpts for purpose of review. Users shall not use the website in order to transmit, distribute, store or destroy material, including without limitation the content provided by the website for any unlawful purpose or in violation of any applicable law, regulation, international law; or in a manner that will infringe the copyright, trademark, trade secret or other intellectual property; or rights of others or violate the privacy, publicity or other personal rights of others, or that is defamatory, libelous, obscene, threatening, abusive or is offensive to users of the website, such as content or messages that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual.</p>
		<h4 class="panel-title">Maintenance</h4>
		<p>Qwixpert may at its sole discretion and without assigning any reason whatsoever at any time deactivate or/and suspend the User’s access to the Website and/or the Services (as the case may be) without giving any prior notice, to carry out system maintenance or/and upgrading or/and testing or/and repairs or/and other related work. Without prejudice to any other provisions of these Terms, we shall not be liable to indemnify the User for any loss or/and damage or/and costs or/and expense that the User may suffer or incur, and no fees or/and charges payable by the User to the us shall be deducted or refunded or rebated, as a result of such deactivation or/and suspension.</p>
		<h4 class="panel-title">Termination</h4>
		<p>These Terms, with updates as notified, shall remain in full force and effect during the use of the website for all users and shall be valid till such time the account is not disabled by the user; or the user removed by mutual written agreement; or completion of the term for which the user has engaged the Services; or in the opinion of Qwixpert, the user has breached any of these terms; or if, in the opinion of Qwixpert or/and any regulatory authority, it is not in the public interest to continue providing the Service to the user; or if the user is declared a bankrupt and/or proceedings for winding up has been initiated</p>
		<h4 class="panel-title">Disclaimer</h4>
		<p>The information contained on this website is provided for information purposes only and provided "as is" without warranty of any kind, express or implied. Nothing contained in this website is intended to, nor shall have the effect of, creating any warranties or representations from us or altering the terms governing the use of the services. While every precaution has been taken in preparation of this website to eliminate errors, we assumes no responsibility for errors and omissions or for damages resulting from the use of the information contained herein.</p>
		<h4 class="panel-title">Trademarks</h4>
		<p>Qwixpert is the registered trademark of EXN Solutions PVt Ltd. Other company, product names and service names mentioned in this website may be trademarks or services of others. The same are acknowledged.</p>
		<h4 class="panel-title">Force Majeure </h4>
		<p>During the course of providing services to the user, neither party shall be liable for any default or delay in the performance of its obligations if and to the extent such default is caused, directly or indirectly, by fires, floods, power failures, acts of God, etc and restrictions of any country affecting the export of Goods or technology to the Service Provider, or import regulations or requirements of India, whatever the causes are, which would be violated by performance of the Agreement, whichever applicable.</p>
		<h4 class="panel-title">Limitation of Liability </h4>
		<p>Under no circumstances we shall be liable for any indirect, special, or consequential loss, damage, claims, liabilities, charges, costs, expense or injury (including, without limitation, loss of use, data, revenue, profits, business and for any claims of any third party claiming through Qwixpert / EXN Solutions Pvt Ltd) that may arise out of or result from use of the services provided by us.</p>
		<h4 class="panel-title">Indemnity</h4>
		<p>You agree to indemnify and hold the website, its parents, subsidiaries, affiliates, officers and employees, harmless, including costs and attorneys' fees, from any claim or demand made by any third party due to or arising out of your access to the website; or your use of the Services; or the violation of these Terms by you; or the infringement by you, or any third party of any intellectual property or other right of EXN Solutions Pvt Ltd.</p>
		<h4 class="panel-title">Jurisdiction</h4>
		<p>These Terms shall be governed by and in accordance with the laws of India only and shall be subject to the exclusive jurisdiction of the courts of Karnataka, India.</p>

	</div>
</div>
