<section class="row this_top_features">
        <div class="row m0 this_top_feature">
            <div class="container">
                <div class="media">
                    <div class="media-left"><img src="images/icons/3.png" alt=""></div>
                    <div class="media-body media-middle">
                        <h2>Goods & Services Tax</h2>
                        <p>Engage an expert today to find out the implications of GST on your industry and thereby, your business.
                        <br>Get started now and get your business prepared to stay ahead of your competition</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m0 this_top_feature">
            <div class="container">
                <div class="media">                    
                    <div class="media-body media-middle">
                        <h2>Internet of Things</h2>
                        <p>Choose an expert to understand IoT, know readiness of your business for IoT, preparing for the right solution or implementation of a solution. 
                        <br>Get started and prepare your business for smart work.</p>
                    </div>
                    <div class="media-right"><img src="images/icons/3.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="row m0 this_top_feature">
            <div class="container">
                <div class="media">
                    <div class="media-left"><img src="images/icons/3.png" alt=""></div>
                    <div class="media-body media-middle">
                        <h2>E-Commerce</h2>
                        <p>Is my company ready for the e-commerce? How can I grow my business through e-commerce? How do I use multiple sales channels available online to increase sales?
                        <br>Or any other queries in your head. Get started and get them solved.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m0 this_top_feature">
            <div class="container">
                <div class="media">                    
                    <div class="media-body media-middle">
                        <h2>Digital Marketing</h2>
                        <p>Choose an expert to understand the nuts and bolts of digital marketing and how to do it right.</p>
                    </div>
                    <div class="media-right"><img src="images/icons/3.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="row m0 this_top_feature">
            <div class="container">
                <div class="media">
                    <div class="media-left"><img src="images/icons/3.png" alt=""></div>
                    <div class="media-body media-middle">
                        <h2>Big Data</h2>
                        <p>Engage an expert to understand to change the way your analytics work and get better insights.
                        <br>Get started and change the way you look at data.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>