
<section class="row testi_news">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row sectionTitle">
                    	<h2>Welcome to the new paradigm of <br><strong>consulting</strong></h2>
                        <br>
                        <h5>Get access to exactly the talent you need, when you need it, for a fair price. You're in the driver's seat.</h5>
                    </div>
                    <div class="why-qwixpert">
                    	<div class="col-md-6">
                    		<div class="owl-item cloned" style="width: 570px; margin-right: 0px;">
                            <div class="item">
                                <div class="row slide m0">
                                    <div class="fleft client_img"><img src="images/icons/thumbs-up.svg" alt=""></div>
                                    <div class="fleft content">
                                        <h3 class="client_name margin-b">Flexibility</h3>
                                        <div class="row m0 quote">
                                            <p>Take assignments at your convenience. Work on assignments of your choice and with clients across the globe, sectors and revenue segments.</p>
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
	                        <div class="owl-item cloned" style="width: 570px; margin-right: 0px;">
                            <div class="item">
                                <div class="row slide m0">
                                    <div class="fleft client_img"><img src="images/icons/thumbs-up.svg" alt=""></div>
                                    <div class="fleft content">
                                        <h3 class="client_name margin-b">Business Development</h3>
                                        <div class="row m0 quote">
                                            <p>While you are busy delivering your current assignment or partying in Bahamas, we are busy working to get your next big project.</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
	                        <div class="owl-item cloned" style="width: 570px; margin-right: 0px;">
                            <div class="item">
                                <div class="row slide m0">
                                    <div class="fleft client_img"><img src="images/icons/thumbs-up.svg" alt=""></div>
                                    <div class="fleft content">
                                        <h3 class="client_name margin-b">Hassle-free Payment</h3>
                                        <div class="row m0 quote">
                                            <p>Get paid on meeting milestones and on final delivery.<br>No more waiting for pay checks.<br><br><br><br>&nbsp;</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    	</div>
                    	<div class="col-md-6 section2">
                    		<div class="owl-item cloned" style="width: 570px; margin-right: 0px;">
                            <div class="item">
                                <div class="row slide m0">
                                    <div class="fleft client_img"><img src="images/icons/thumbs-up.svg" alt=""></div>
                                    <div class="fleft content">
                                        <h3 class="client_name margin-b">Control</h3>
                                        <div class="row m0 quote">
                                            <p>Get things done from choosing an expert to the project delivery on your terms. Have complete control on whom you work with and how you want things done.</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
	                        <div class="owl-item cloned" style="width: 570px; margin-right: 0px;">
                            <div class="item">
                                <div class="row slide m0">
                                    <div class="fleft client_img"><img src="images/icons/thumbs-up.svg" alt=""></div>
                                    <div class="fleft content">
                                        <h3 class="client_name margin-b">Problem Structuring</h3>
                                        <div class="row m0 quote">
                                            <p>Qwixpert has team of generalist consultants who will analyse and structure your needs. Structuring helps in creating the curated list of experts for your needs.</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
	                        <div class="owl-item cloned" style="width: 570px; margin-right: 0px;">
                            <div class="item">
                                <div class="row slide m0">
                                    <div class="fleft client_img"><img src="images/icons/thumbs-up.svg" alt=""></div>
                                    <div class="fleft content">
                                        <h3 class="client_name margin-b">Faster Turnaround Time</h3>
                                        <div class="row m0 quote">
                                            <p>Our Experts start working on the assignment right from the time of engagement, without spending time on understanding the industry and segments. This also translates into less cost to get your needs addressed.</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--====================================
=            Experts           =
=====================================-->
<ng-include src="'templates/partials/_business-types.html'"></ng-include>
<!--====  End of Experts ====-->