<div class="content_row  why_choose row m0">
    <div class="container">
        <div class="row sectionTitle">
            <h1>Quick source for top tier experts</h1>
            <p>Qwixpert connects consulting firms with experts across industries making it a single source to access experts or build agile teams on demand.</p>
        </div>
    </div>
</div>
<section class="services trending_topic_detail">
    <div class="container"> 
        <div class="row">
            <div id="our-experts">
                <h2 class="title">Our experts are experienced in:</h2>
            </div>
            <div class="col-md-3">
                <h4>Market Research</h4>
                <ul class="hostpressUnList">
                    <li>Market Overview</li>
                    <li>Customer Interviews</li>
                    <li>Competitor Analysis</li>
                    <li>Benchmarking Analysis</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Due Diligence / M&amp;A support</h4>
                <ul class="hostpressUnList">
                    <li>Due Diligence</li>
                    <li>Business Analysis</li>
                    <li>Financial Analysis &amp; Modelling</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 text-center">
                <a class="btn btn-primary" href="#/get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>
<section class="row pricing pricing2">
    <div class="container">
        <div class="row sectionTitle">
            <h2>Why Qwixpert?</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Fill a short term skills gap</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>If you’re against the clock and need extra resources quickly, our independent consultants are from top tier consulting and banking firms and can integrate effortlessly into your existing team and deliver outstanding results.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan best_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Build a leaner meaner consulting firm</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>What if you could only pay for your consultants when they’re on projects? We’ve taken the best of consulting, stripped away the overheads and inefficiencies and put it on a platform providing you with a cost effective, flexible alternative to hiring full time.</p>
                            <br>
                            <a href="#/why-qwixpert" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Avoid relying on in-house capabilities</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row" click>
                        <div class="col-md-12">
                            <p>Our platform gives you access to experts and independent consultants for top firms and across industries, each with different experience enabling you to cherry pick the exact talent you need to keep your client happy.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-us">
    <h4>Not exactly sure what you're after? We're here to help. Call +91 9731954050</h4>
    <a class="btn btn-primary" href="#/contact">Contact Us</a>
</section>
