<div class="content_row  why_choose row m0">
    <div class="container">
        <div class="row sectionTitle">
            <h1>Build your dream deal team</h1>
            <p>Qwixpert connects financial institutions with consultants from top tier management consulting and financial firms looking to resources to make their next investment decision</p>
        </div>
    </div>
</div>
<section class="services trending_topic_detail">
    <div class="container">
        <div class="row"> 
            <div id="our-experts">
                <h2 class="title">Our experts are experienced in:</h2>
            </div>
            <div class="col-md-4">
                <h4>Due Diligence / M&amp;A support</h4>
                <ul class="hostpressUnList">
                    <li>Due Diligence</li>
                    <li>Business Analysis</li>
                    <li>Financial Analysis &amp; Modelling</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Market Research</h4>
                <ul class="hostpressUnList">
                    <li>Market Overview</li>
                    <li>Customer Interviews</li>
                    <li>Competitor Analysis</li>
                    <li>Benchmarking Analysis</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Presentation &amp; Reports</h4>
                <ul class="hostpressUnList">
                    <li>Board &amp; Investment Committee Materials</li>
                    <li>Investor Presentations</li>
                    <li>Sales Presentations</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 text-center">
                <a class="btn btn-primary" href="#/get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>
<section class="row pricing pricing2">
    <div class="container">
        <div class="row sectionTitle">
            <h2>Why Qwixpert?</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Seamless integration into your team</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>Our consultants are the cream of the talent that is. They are from top tier consulting and banking firms who can integrate effortlessly into your existing team and hit the ground running.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan best_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Build a lean investment firm</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>What if you could only pay for your consultants when they’re on projects? Assembling a team of consultants enables you to turn resources on and off as you need to, providing greater flexibility and efficiency than a full-time team. Our platform enables you to cherry pick the talent you need, when you need.</p>
                            <br>
                            <a href="#/why-qwixpert" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Benefit from a wider talent pool</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row" click>
                        <div class="col-md-12">
                            <p>Our platform gives you access to consultants from the top management consulting and financial firms, each with different experience enabling you to avoid relying on in-house capabilities and cherry pick the exact talent you need to solve the task at hand.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-us">
    <h4>Not exactly sure what you're after? We're here to help. Call +91 9731954050</h4>
    <a class="btn btn-primary" href="#/contact">Contact Us</a>
</section>
