<div class="content_row  why_choose row m0">
    <div class="container">
        <div class="row sectionTitle">
            <h1>Hand pick an expert or a team to fill an expertise gap</h1>
            <p>Qwixpert provides businesses with the opportunity to engage directly with top experts and consultants to deliver amazing results for their project</p>
        </div>
    </div>
</div>
<section class="services trending_topic_detail">
    <div class="container">
        <div class="row">
            <div id="our-experts">
                <h2 class="title">Our experts are experienced in:</h2>
            </div>
            <div class="col-md-4">
                <h4>Strategic Review</h4>
                <ul class="hostpressUnList">
                    <li>Digital Strategy</li> 
                    <li>Customer Strategy</li>
                    <li>Pricing Strategy</li>
                    <li>Corporate Development</li>
                    <li>IT Strategy</li>
                    <li>Transformation</li>
                    <li>PMI</li>
                    <li>Portfolio Review</li>
                    <li>Risk</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>HR / Organisational Review</h4>
                <ul class="hostpressUnList">
                    <li>Organisational Redesign</li>
                    <li>HR &amp; Talent Processes</li>
                    <li>Change Management</li>
                    <li>Exit Planning</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Presentation &amp; Reports</h4>
                <ul class="hostpressUnList">
                    <li>Board &amp; Investment Committee Materials</li>
                    <li>Investor Presentations</li>
                    <li>Sales Presentations</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
                <h4>Operational Improvement</h4>
                <ul class="hostpressUnList">
                    <li>Business Process Redesign</li>
                    <li>Supply Chain &amp; Logistics</li>
                    <li>Outsourcing</li>
                    <li>Cost Reduction</li>
                    <li>Lean Manufacturing</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Market Research</h4>
                <ul class="hostpressUnList">
                    <li>Market Overviews</li>
                    <li>Customer Interviews</li>
                    <li>Competitor Analysis</li>
                    <li>Benchmarking Analysis</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Marketing Support</h4>
                <ul class="hostpressUnList">
                    <li>Online Analytics</li>
                    <li>Marketing Strategy</li>
                    <li>Customer Segmentation</li>
                    <li>Digital Marketing</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 text-center">
                <a class="btn btn-primary" href="#/get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>
<section class="row pricing pricing2">
    <div class="container">
        <div class="row sectionTitle">
            <h2>Why Qwixpert?</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Fill the talent gaps</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>If you ever need some extra resources, our consultants from top tier consulting and banking firms and can integrate effortlessly into your existing team and deliver outstanding results, without having to engage a team.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan best_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Build your customized team</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>Each project is different. That’s why our platform makes it easy for you to tailor teams in both size and composition to ensure you have the best consultants for the task at hand.</p>
                            <br>
                            <a href="#/why-qwixpert" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Engage quickly and directly</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row" click>
                        <div class="col-md-12">
                            <p>Our platform connects you instantly with consultants from top consulting and banking firms. Each consultant has their own unique skills and expertise to ensure you select the talent your business needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-us">
    <h4>Not exactly sure what you're after? We're here to help. Call +91 9731954050</h4>
    <a class="btn btn-primary" href="#/contact">Contact Us</a>
</section>
