<div class="content_row  why_choose row m0">
    <div class="container">
        <div class="row sectionTitle">
            <h1>Get the help you need to grow your business</h1>
            <p>Growing a business requires hard work, whether it’s developing new strategies to taking it to the next level or simply not having enough bandwidth to get things done - that’s where the Qwixpert can help.</p>
        </div>
    </div>
</div>
<section class="services trending_topic_detail">
    <div class="container">
        <div class="row">
            <div id="our-experts">
                <h2 class="title">Our experts are experienced in:</h2>
            </div>
            <div class="col-md-3">
                <h4>Analytics &amp; Finance Support</h4>
                <ul class="hostpressUnList">
                    <li>Financial Accounts &amp; Projections</li>
                    <li>Big Data</li>
                    <li>Part-Time CFO</li>
                    <li>Data Analytics &amp; Modelling</li>
                </ul>
            </div>
            <div class="col-md-3"> 
                <h4>Market Research</h4>
                <ul class="hostpressUnList">
                    <li>Market Overview</li>
                    <li>Customer Interviews</li>
                    <li>Competitor Analysis</li>
                    <li>Benchmarking Analysis</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Presentation &amp; Reports</h4>
                <ul class="hostpressUnList">
                    <li>Board &amp; Investment Committee Materials</li>
                    <li>Investor Presentations</li>
                    <li>Sales Presentations</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Marketing Support</h4>
                <ul class="hostpressUnList">
                    <li>eCommerce</li>
                    <li>SEO</li>
                    <li>SEM</li>
                    <li>Email Marketing</li>
                    <li>Online Analytics</li>
                    <li>Marketing Strategy</li>
                    <li>Customer Segmentation</li>
                    <li>Digital Marketing</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 text-center">
                <a class="btn btn-primary" href="#/get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>
<section class="row pricing pricing2">
    <div class="container">
        <div class="row sectionTitle">
            <h2>Why Qwixpert?</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Customized Expertise</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>Whether it’s a competitor analysis, pitch documents, marketing strategy or financial projections you require our consultants can deliver great work on demand, customized to your business needs.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan best_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Engage the best in the industry</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>Our consultants have vast experience from top consulting and banking firms and want to work more flexibly. They are looking to work on your business challenge and help you take your business to the next level.</p><br>
                            <a href="#/why-qwixpert" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Amazing talent at affordable pricing</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row" click>
                        <div class="col-md-12">
                            <p>Engage directly with our consultants who deliver fantastic work at a less turnaround time without the overheads of traditional consulting firms.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-us">
    <h4>Not exactly sure what you're after? We're here to help. Call +91 9731954050</h4>
    <a class="btn btn-primary" href="#/contact">Contact Us</a>
</section>