<div class="content_row  why_choose row m0">
    <div class="container">
        <div class="row sectionTitle">
            <h1>Get top talent to help your new venture</h1>
            <p>We know how difficult it is to start a business. That is why we have experts, who have helped hundred of startups, to help you with your challenges.</p>
            <p>Engage an expert or consultant to be the next unicorn</p>
        </div>
    </div>
</div>
<section class="services trending_topic_detail">
    <div class="container">
        <div class="row">
            <div id="our-experts">
                <h2 class="title">Our experts are experienced in:</h2>
            </div>
            <div class="col-md-3">
                <h4>Raise Capital</h4>
                <ul class="hostpressUnList">
                    <li>Investor Pitch Materials</li>
                    <li>Financial Models &amp; Projections</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Analytics &amp; Finance Support</h4>
                <ul class="hostpressUnList">
                    <li>Financial Accounts &amp; Projections</li>
                    <li>Big Data</li>
                    <li>Part-Time CFO</li>
                    <li>Data Analytics &amp; Modelling</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Market Research</h4>
                <ul class="hostpressUnList">
                    <li>Market Overview</li>
                    <li>Customer Interviews</li>
                    <li>Competitor Analysis</li>
                    <li>Benchmarking Analysis</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Marketing Support</h4>
                <ul class="hostpressUnList">
                    <li>eCommerce</li>
                    <li>SEO</li>
                    <li>SEM</li>
                    <li>Email Marketing</li>
                    <li>Online Analytics</li>
                    <li>Marketing Strategy</li>
                    <li>Customer segmentation</li>
                    <li>Digital Marketing</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 text-center">
                <a class="btn btn-primary" href="#/get-started">Get Started</a>
            </div>
        </div>
    </div>
</section>
<section class="row pricing pricing2">
    <div class="container">
        <div class="row sectionTitle">
            <h2>Why Qwixpert?</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Manage your resources</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>Whether its financial projections, a pitch document, competitor analysis or raising capital, we have the experienced consultants to deliver amazing work on demand, perfect for your needs. Why grow your team when you can engage an expert on your terms.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan best_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Choose your best fit</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row">
                        <div class="col-md-12">
                            <p>You have the freedom to choose the expert who fits your team and has solved similar business challenges as yours.</p>
                            <br>
                            <a href="#/why-qwixpert" class="btn btn-primary">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 price_plan">
                <div class="row inner m0">
                    <div class="plan_intro">
                        <div class="planType row m0">
                            <h4>Be Frugal</h4>
                        </div>
                    </div>
                    <div class="row m0 service_provide_row" click>
                        <div class="col-md-12">
                            <p>Getting best brains to help you with you startup is now affordable. We have the best talent across industries, stripped away the overheads and inefficiencies and put it on an online platform to allow clients and consultants to come together in a flexible way to deliver great work.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-us">
    <h4>Not exactly sure what you're after? We're here to help. Call +91 9731954050</h4>
    <a class="btn btn-primary" href="#/contact">Contact Us</a>
</section>
