<section class="row why_choose why_choose2">
    <div class="container">
        <div class="row sectionTitle">
            <h2>What is your business type?</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 cause2choose">
                <a href="#/business-type/startup">
                   <div class="media">
                        <div class="media-left">
                            <img src="images/icons/startup.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Startup</h4>
                            <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                        </div>
                    </div> 
                </a>
                
            </div>
            <div class="col-sm-4 cause2choose">
                <a href="#/business-type/small-business">
                    <div class="media">
                        <div class="media-left">
                            <img src="images/icons/small-business.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Small Business</h4>
                            <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                        </div>
                    </div>
                </a>
                
            </div>
            <div class="col-sm-4 cause2choose">
                <a href="#/business-type/medium-business">
                    <div class="media">
                        <div class="media-left">
                            <img src="images/icons/medium-business.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Medium Business</h4>
                            <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                        </div>
                    </div>
                </a>
                
            </div>
            <div class="col-sm-4 cause2choose">
                <a href="#/business-type/enterprise-client">
                   <div class="media">
                        <div class="media-left">
                            <img src="images/icons/enterprise-client.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Enterprise Client</h4>
                            <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                        </div>
                    </div> 
                </a>
                
            </div>
            <div class="col-sm-4 cause2choose">
                <a href="#/business-type/consulting-firm">
                    <div class="media">
                        <div class="media-left">
                            <img src="images/icons/consulting-firm.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Consulting firm</h4>
                            <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                        </div>
                    </div>
                </a>
                
            </div>
            <div class="col-sm-4 cause2choose">
                <a href="#/business-type/financial-institution">
                    <div class="media">
                        <div class="media-left">
                            <img src="images/icons/financial-institution.png" alt="">
                        </div>
                        <div class="media-body">
                            <h4>Financial Insitution</h4>
                            <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
</section>
