<footer class="row">
    <div class="top_footer row m0">
        <div class="container">
            <div class="row shortKnowledge">
                <div class="col-sm-3 about">
                    <h4><a href="/#/"><img src="images/qwixpert-footer.png" alt=""></a></h4>
                    <p>2<sup>nd</sup> Floor, Above Airtel Outlet, No. 6, 80 ft. Road, Kormangala 4<sup>th</sup> block, Bangalore 560034.</p>
                </div>
                <div class="col-sm-3 about">
                   <h4>Links</h4>
                    <ul class="hostpressUnList">
                        <li><a href="#/terms">Terms</a></li>
                        <li><a href="#/privacy-policy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 product">
                    <h4>Business Types</h4>
                    <ul class="product_list nav">
                        <li><a href="#/business-type/startup">Startup</a></li>
                        <li><a href="#/business-type/small-business">Small Business</a></li>
                        <li><a href="#/business-type/medium-business">Medium Business</a></li>
                        <li><a href="#/business-type/enterprise-client">Enterprise Client</a></li>
                        <li><a href="#/business-type/consulting-firm">Consulting Firm</a></li>
                        <li><a href="#/business-type/financial-institution">Financial Institution</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row m0 copyright_line">
        Copyright &copy; 2016 EXN Solutions Pvt. Ltd. All Rights Reserved. Designed &amp; Developed by <a href="http://www.awkword.in">Awkword Studio.</a>
    </div>
</footer>
