<section class="row top_header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wc_msg"></div>
            <div class="col-sm-6">
                <ul class="nav nav-pills">
                    <li><a href="tel:+919731954050"><i class="icon-call-out"></i>+91-973-195-4050</a></li>
                    <li><a href="mailto:info@qwixpert.com"><i class="icon-envelope"></i>info@qwixpert.com</a></li>
                    <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</section>

