
<section class="row find_domain find_domain2 find_domain_drop collapse" id="find_domain_drop">
    <div class="container">
        <form action="#" class="row m0 domain_search">
            <div class="col-sm-3 col-md-3 col-lg-2 form_title">
                <h5>Find Your</h5>
                <h2>Domain</h2>
                <p>Search for your dream domain now</p>
            </div>
            <div class="col-sm-9 col-md-9 col-lg-10">
                <div class="input-group">
                    <input type="search" class="form-control">
                    <div class="input-group-addon">
                        <div class="searchFilters fleft">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span id="searchFilterValue">.com</span> <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a href="#com">.com</a></li>
                                <li><a href="#.net">.net</a></li>
                                <li><a href="#.org">.org</a></li>
                                <li><a href="#.us">.us</a></li>
                                <li><a href="#.biz">.biz</a></li>
                            </ul>
                        </div>
                        <input type="submit" value="search" class="">
                    </div>
                </div>
                <ul class="nav nav-pills price_list">
                    <li>.com $5.75</li>
                    <li>.net $9.45</li>
                    <li>.org $7.50</li>
                    <li>.us $5.99</li>
                    <li>.biz $9.99</li>
                </ul>
            </div>
        </form>
    </div>
</section>
<div class="row m0 drop_icon">
    <a href="#find_domain_drop" class="domain_search_drop" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="find_domain_drop">i</a>
</div>