<nav class="navbar navbar-default navbar-static-top fluid_header centered navbar-fixed-top" fixed ng-class="{'fixed':isFixed}"> 
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/"><img src="images/logo.png" alt=""></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navigation" aria-expanded="false" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main_navigation" uib-collapse="!isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/how-it-works">How it works</a></li>
                <li><a href="#/our-experts">Our experts</a></li>
                <li><a href="#/why-qwixpert">Why qwixpert?</a></li>
                <li class="login-link"><a href="#/contact">Contact Us</a></li>
                <li class="login-link"><a href="#/get-started">Get Started </a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
    <section class="row find_domain find_domain2 find_domain_drop how-it-works" id="find_domain_drop" aria-expanded="true" ng-class={'show':showHIW}>
        <div class="container">
           <div class="row row m0 domain_search ">
                <div class="col-sm-4  form_title">

                        <div class="col-sm-4">
                            <img class="img-responsive" src="images/icons/how-it-works.png">
                        </div>
                        <div class="col-sm-8">
                            <h4>Tell us your needs</h4>
                            <p>Describe your business needs to us. We will structure your problem and provide you with the right list of experts.</p>
                        </div>
                </div>
                <div class="col-sm-4  form_title">
                    
                        <div class="col-sm-4">
                            <img class="img-responsive" src="images/icons/how-it-works.png">
                        </div>
                        <div class="col-sm-8">
                            <h4>Engage an Expert</h4>
                            <p>Choose an expert from the curated pool of experts matching your needs and terms.</p>
                        </div>
                    
                </div>
                <div class="col-sm-4 form_title">
                    
                        <div class="col-sm-4">
                            <img class="img-responsive" src="images/icons/how-it-works.png">
                        </div>
                        <div class="col-sm-8">
                            <h4>Fulfill your need</h4>
                            <p>Agree on milestones and pay on meeting them.</p>
                        </div>
                    
                </div>
                <div class="col-sm-12">
                    <p class="text-center how-it-works-teaser-cta">
                        <a href="#/how-it-works" class="">
            Learn More</a> about how this works.
                    </p>
                </div>
            </div>
        </div>
 </section>
</nav>
<div class="sticky-clearfix"></div>
