<section class="row serviceTab serviceTab_byside our_experts">
    <div class="container">
        <div class="row sectionTitle">
            <h2>Why Qwixpert?</h2>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="row service_tab_menu">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" tab target="#talent" class="active">
                            <a href="" role="tab" data-toggle="tab">
                                <img src="images/icons/engage-talents.png" alt="" class="icon">Engage talent
                            </a>
                        </li>
                        <li role="presentation" tab target="#one-platform">
                            <a href="" role="tab" data-toggle="tab">
                                <img src="images/icons/manage-workflow.png" alt="" class="icon">One platform
                            </a>
                        </li>
                        <li role="presentation" tab target="#free-to-join">
                            <a href="" role="tab" data-toggle="tab">
                                <img src="images/icons/free-to-join.png" alt="" class="icon">Free to join
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row m0 serviceTab_contents">
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="talent">
                            <div class="col-sm-6 ico_pic">
                                <img src="images/expert.png" alt="" class="service_img img-responsive fright">
<!--                                <img src="images/icons/tab.png" alt="" class="img-responsive service_ico">-->
                            </div>
                            <div class="col-sm-6 texts">
                                <h3 class="title">Engage Talent</h3>
                                <p>Connect and engage with the right experts or consultants</p>
                                <p>Tell us about your need and connect with the experts from the curated list before you choose the one to work with</p>
                                <a href="#/why-qwixpert" class="btn btn-primary">Learn More</a>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="one-platform">
                            <div class="col-sm-6 ico_pic">
                                <img src="images/one-platform.png" alt="" class="service_img img-responsive fright">
<!--                                <img src="images/icons/tab.png" alt="" class="img-responsive service_ico">-->
                            </div>
                            <div class="col-sm-6 texts">
                                <h3 class="title">One Platform</h3>
                                <p>Access one talent source for all your projects and needs</p>
                                <p>Our experts and consultants have diverse work experience and capabilities across range of industries</p>
                                <a href="#/why-qwixpert" class="btn btn-primary">Learn More</a>
                            </div>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="free-to-join">
                            <div class="col-sm-6 ico_pic">
                                <img src="images/free-to-join.png" alt="" class="service_img img-responsive fright">
<!--                                <img src="images/icons/tab.png" alt="" class="img-responsive service_ico">-->
                            </div>
                            <div class="col-sm-6 texts">
                                <h3 class="title">Free to join</h3>
                                <p>Free to join and zero charges to post projects</p>
                                <p>Engage our experts and consultants on your terms and pay only when the work is delivered</p>
                                <a href="#/why-qwixpert" class="btn btn-primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
