<section class="row why_choose why_choose2">
    <div class="container">
        <div class="row sectionTitle">
            <h2>Why Qwixpert?</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 cause2choose">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="images/icons/cause2choose/1.png" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>Free Data Analysis</h4>
                        <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 cause2choose">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="images/icons/cause2choose/2.png" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>security</h4>
                        <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 cause2choose">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="images/icons/cause2choose/3.png" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>free domain transfer</h4>
                        <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 cause2choose">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="images/icons/cause2choose/4.png" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>Data on cloudfront</h4>
                        <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 cause2choose">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="images/icons/cause2choose/5.png" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>technical support</h4>
                        <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 cause2choose">
                <div class="media">
                    <div class="media-left">
                        <a href="#"><img src="images/icons/cause2choose/6.png" alt=""></a>
                    </div>
                    <div class="media-body">
                        <h4>free website optimization</h4>
                        <p>Lorem ipsum dolor sit amet, ectetur adipiscing elit. Nullam eget</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>